// Ejercicio 5

$color-1: #333;
$color-2: #666;
$color-3: #fff;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        font-size: 24px;
        color: $color-1;
    }

    p {
        font-size: 16px;
        color: $color-2;
    }

    .btn:hover {
        background-color: $color-3;
        color: $color-1;
    }
}

.btn {
    background-color: $color-1;
    color: $color-3;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}