header {
    background-color: $dark;
    color: $primary;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .sass-logo {
      background-image: url("images/sass.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 60px;
      height: 40px;
      margin-right: 20px;
    }
    
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      
      li {
        a {
          text-decoration: none;
          color: $primary;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }