body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#mapa {
    position: relative;
    width: 500px;
    height: 400px;
    background-image: url(./img/map.jpg); /* Mapa de la Tierra Media */
    background-size: cover;
    margin: 0 auto;
    border: 2px solid #333;
}

.reino {
    position: absolute;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.reino:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#mordor {
    top: 65%;
    left: 75%;
}

#rohan {
    top: 50%;
    left: 45%;
}

#gondor {
    top: 70%;
    left: 50%;
}

#eriador {
    top: 25%;
    left: 25%;
}