.yellow {
    background-color: yellow;
    height: 80px;
    font-size: 45px;
    font-weight: bold;
}

.green {
    background-color: rgb(0, 255, 174);
    height: 180px;
    font-size: 45px;
    font-weight: bold;
}

.light-pink {
    background-color:  rgb(255, 135, 255);
    font-size: 45px;
    font-weight: bold;
}

.blue {
    background-color: #007bff;
    height: 180px;
    font-size: 45px;
    font-weight: bold;
}

.orange {
    background-color: rgb(255, 221, 0);
    height: 180px;
    font-size: 45px;
    font-weight: bold;
}

.dark-pink {
    background-color: rgb(228, 0, 228);
    height: 180px;
    font-size: 45px;
    font-weight: bold;
}