// Ejercicio 1

$color-1:#fff;
$color-2:#333;

button {
    background-color: $color-2;
    color: $color-1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;

    &:hover {
        background-color: $color-1;
        color: $color-2;
    }
}
