// Ejercicio 10

$color-1: #333;
$color-2: #666;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        font-size: 24px;
        color: $color-1;
    }

    p {
        font-size: 16px;
        color: $color-2;
    }
}
