// Ejercicio 4 - Ejercicio 8 - Ejercicio 12

$color-1: #f2f2f2;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
        display: flex;
        justify-content: space-between;

        .col {
            width: 30%;
            background-color: $color-1;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
}