body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 20px;
}